h1{
    color: rgb(143, 96, 25);
    margin-left: 30px;
    padding: 10px;
}
.header *{
    /*border:solid;*/
}
.header{
    background-color:#eac64e;
    display:flex;
    justify-content:space-between;
}
.site-description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color:#facf67;
}
.footer{
    display: flex;
    justify-content:flex-end;
    background-color: #df3b70;
}
h2,p{
    color: lightblue;
    background-color:#ed3833 ;
}
.menu{
    margin-right: 80px;
}
.menu a{
    padding: 10px;
    margin-right: 10px;
}   
a:link{
    color  :lightcoral;
}
a:visited{
    color : darkorange
}
.item{
    background-color: deepskyblue;
    position: relative;
}
.item p {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity : 0.33;
}






